.git
.idea
node_modules/
nbproject/
.vs*/
Thumbs.db
gulpfile.js
tsconfig.json
test/
travis/
.travis.yml
appveyor.yml
.travis.yaml
appveyor.yaml
.eslintrc.json
iob_npm.done
tsconfig.json

# npm package files
iobroker.*.tgz
package-lock.json

# i18n intermediate files
admin/i18n

# maintenance scripts
maintenance/**