body {
	/* background-image: url(./images/grey.jpg); */
	background-color: white;
	background-size: cover;
	-webkit-touch-callout: none !important;
}

.loader {
	border: 16px solid #484848; /* Light grey */
	border-top: 16px solid #059; /* Blue */
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 3s linear infinite;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top:-40px;
	margin-left:-40px;
	z-index: 9999;
} @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

a {
	-webkit-user-select: none !important;
	-webkit-touch-callout: none !important;
}

#Toolbar{
	border-width: 0px !important;
}

.iQontrolToolbarLink.ui-btn-active, .iQontrolToolbarLink.ui-btn:focus{
	background-color: #0c5088 !important;
    border-color: #0c5088 !important;
    text-shadow: 0 1px 0 #0c5088 !important;
    box-shadow: 0 0 12px #0c5088 !important;
}

#View{
	background-color: transparent;
}

#ViewMain {
	padding: 3px;
	margin: 0px;
	min-height:100vh;
	color: #FFF;
	font-size: 11pt;
	font-weight: bold;
	font-family: verdana,tahoma,arial,helvetica,sans-serif;
	text-shadow: none;
	/* text-shadow: 0px 1px 2px rgba(0,0,0,0.8);	 */
}

#ViewHeaderTitle {
	background-color: rgba(0,0,0,0.15);
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 7px;
}

#ViewContent {
	display: inline-block;
	width: 100%;
	text-align: left;
	vertical-align: top;
}

#ViewContent h4 {
	background-color: rgba(0,0,0,0.15);
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 7px;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 0px;
}

.iQontrolDevice{
	display: inline-table;
	top: 0;
	width: 104px; max-width: 104px;
	height: 104px; max-height: 104px;
	margin: 6px;
	padding: 3px 3px 3px 3px;
	background: transparent;
	border: 0px solid rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
			box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
	-webkit-transform: translate3d(0px,0px,0);
	   -moz-transform: translate3d(0px,0px,0);
			transform: translate3d(0px,0px,0);
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
	text-align: left;
	overflow: hidden;
}

.iQontrolDevice:hover{
	border: 0px solid rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
}

.iQontrolDeviceBackgroundImage {
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;	top:0px; left:0px; width:100%; height:100%;
	display: block;
	background-size:cover; background-position:center;	
	opacity: 0.99;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
	overflow: hidden;
}

.iQontrolDeviceBackgroundImage:hover {
	opacity: 0.99;
	-webkit-transform: scale3d(1.05,1.05,1);
	   -moz-transform: scale3d(1.05,1.05,1);
			transform: scale3d(1.05,1.05,1);
}

.iQontrolDeviceBackground {
	background-color: rgb(180, 180, 180);
	position: absolute;	top:0px; left:0px; width:100%; height:100%;
	display: block;
	opacity: 0.5;
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
	overflow: hidden;
}

.iQontrolDeviceBackground.active {
	background-color: rgb(255, 255, 255);
	opacity: 0.82;
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
}

.iQontrolDeviceBackground:hover {
	opacity: 0.95;
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
}

.iQontrolDeviceIcon {
	position:absolute; left: 5px; top: 5px; width: 38px; height: 38px;
	margin: 3px;
	overflow: hidden;
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
			transition: all 0.5s;
	opacity: 0;
	pointer-events:none;
}

.iQontrolDeviceIcon.active {
	opacity: 1;
	pointer-events:auto;
}

.iQontrolDeviceIcon:hover {
	-webkit-transform: scale3d(1.2,1.2,1);
	   -moz-transform: scale3d(1.2,1.2,1);
			transform: scale3d(1.2,1.2,1);
}

.iQontrolDeviceLoading {
	pointer-events:none;
	position:absolute; left: 15px; top: 15px; width: 24px; height: 24px;
	overflow: hidden;
	z-index: 1000;
	opacity: 0;
	-webkit-transition: all 0.2s ease 0.25s;
	   -moz-transition: all 0.2s ease 0.25s;
			transition: all 0.2s ease 0.25s;
}

.iQontrolDeviceLoading.active {
	opacity: 0.9;
}

.iQontrolDeviceError {
	pointer-events:none;
	position:absolute; left: 52px; top: 2px; width: 16px; height: 16px;
	overflow: hidden;
	opacity: 0;
}

.iQontrolDeviceError.active {
	opacity: 1;
}

.iQontrolDeviceUnreach {
	pointer-events:none;
	position:absolute; left: 71px; top: 2px; width: 16px; height: 16px;
	overflow: hidden;
	opacity: 0;
}

.iQontrolDeviceUnreach.active {
	opacity: 1;
}

.iQontrolDeviceBattery {
	pointer-events:none;
	position:absolute; left: 90px; top: 2px; width: 16px; height: 16px;
	overflow: hidden;
	opacity: 0;
}

.iQontrolDeviceBattery.active {
	opacity: 1;
}

.iQontrolDeviceInfoAIcon {
	pointer-events:none;
	position:absolute; left: 52px; top: 20px; width: 12px; height: 12px;
	overflow: hidden;
}

.iQontrolDeviceInfoAText {
	pointer-events:none;
	position:absolute; left: 66px; top: 18px; width: 42px; height: 16px;
	overflow: hidden;
	background: transparent;
	color: black;
	font-size: 8pt;
	font-weight: normal;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	text-align: left;
}

.iQontrolDeviceInfoBIcon {
	pointer-events:none;
	position:absolute; left: 52px; top: 39px; width: 12px; height: 12px;
	overflow: hidden;
}

.iQontrolDeviceInfoBText {
	pointer-events:none;
	position:absolute; left: 66px; top: 37px; width: 42px; height: 16px;
	overflow: hidden;
	background: transparent;
	color: black;
	font-size: 8pt;
	font-weight: normal;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	text-align: left;
}

.iQontrolDeviceName  {
	pointer-events:none;
	position:absolute; left: 5px; top: 58px; width: 103px; height: 30px;
	overflow: hidden;
	background: transparent;
	color: black;
	font-size: 9pt;
	font-weight: bold;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);	
}

.iQontrolDeviceState  {
	pointer-events:none;
	position:absolute; left: 5px; top: 90px; width: 103px; height: 17px;
	overflow: hidden;
	background: transparent;
	color: black;
	font-size: 9pt;
	font-weight: normal;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);	
}

#Dialog{
	min-width: 300px;
}

.small {
	font-size: 70%;
}

.colorPicker + .ui-slider-track {
	background-image:url(./images/hue.png) !important;
	background-repeat:repeat-y !important;
	background-size:100%, auto !important;
}

.colorTemperaturePicker + .ui-slider-track {
	background-image:url(./images/ct.png) !important;
	background-repeat:repeat-y !important;
	background-size:100%, auto !important;
}

.fullWidthSlider .ui-slider-input{
	display: none;
}

.fullWidthSlider .ui-slider-track{
	margin-left: 15px;
}

.ui-slider-track .ui-btn.ui-slider-handle {
    font-size: .7em !important;
}

.ui-slider-popup {
    font-size: 29px !important;
}

.ui-slider-popup.longText {
    font-size: 20px !important;
}

.ui-slider-popup.extraLongText {
    font-size: 16px !important;
}

.ui-listview a {  
/* Link-Listview nicht fett und ohne Umbruch */
	font-weight: normal;
	white-space: normal !important;
}

.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
/* Listview ohne Umbruch */
	white-space: normal !important;
}

.ui-state-disabled {
	opacity: 0.75 !important;
}




@media screen and (min-width: 1500px){
	#ViewMain {
		font-size: 22pt;
	}

	#ViewHeaderTitle {
		font-size: 22pt;
	}

	#ViewContent h4 {
		font-size: 15pt;
	}

	.iQontrolDevice{
		width: 156px; max-width: 156px;
		height: 156px; max-height: 156px;
		margin: 12px;
		padding: 3px 3px 3px 3px;
		-webkit-border-radius: 22px;
		   -moz-border-radius: 22px;
				border-radius: 22px;
		-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
		   -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
				box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
	}

	.iQontrolDevice:hover{
		-webkit-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
		   -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
				box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
	}

	.iQontrolDeviceBackgroundImage {
		-webkit-transform: scale3d(1.0,1.0,1);
		   -moz-transform: scale3d(1.0,1.0,1);
				transform: scale3d(1.0,1.0,1);
	}

	.iQontrolDeviceBackgroundImage:hover {
		-webkit-transform: scale3d(1.05,1.05,1);
		   -moz-transform: scale3d(1.05,1.05,1);
				transform: scale3d(1.05,1.05,1);
	}

	.iQontrolDeviceIcon {
		position:absolute; left: 5px; top: 5px; width: 57px; height: 57px;
		margin: 3px;
		-webkit-transform: scale3d(1.0,1.0,1);
		   -moz-transform: scale3d(1.0,1.0,1);
				transform: scale3d(1.0,1.0,1);
	}

	.iQontrolDeviceIcon:hover {
		-webkit-transform: scale3d(1.2,1.2,1);
		   -moz-transform: scale3d(1.2,1.2,1);
				transform: scale3d(1.2,1.2,1);
	}

	.iQontrolDeviceLoading {
		position:absolute; left: 18px; top: 18px; width: 36px; height: 36px;
	}

	.iQontrolDeviceError {
		position:absolute; left: 72px; top: 4px; width: 24px; height: 24px;
	}

	.iQontrolDeviceUnreach {
		position:absolute; left: 100px; top: 4px; width: 24px; height: 24px;
	}

	.iQontrolDeviceBattery {
		position:absolute; left: 129px; top: 4px; width: 24px; height: 24px;
	}

	.iQontrolDeviceInfoAIcon {
		pointer-events:none;
		position:absolute; left: 72px; top: 30px; width: 18px; height: 18px;
	}

	.iQontrolDeviceInfoAText {
		position:absolute; left: 90px; top: 30px; width: 70px; height: 18px;
		font-size: 11pt;
	}

	.iQontrolDeviceInfoBIcon {
		position:absolute; left: 72px; top: 58px; width: 18px; height: 18px;
	}

	.iQontrolDeviceInfoBText {
		position:absolute; left: 90px; top: 58px; width: 70px; height: 18px;
		font-size: 11pt;
	}

	.iQontrolDeviceName  {
		position:absolute; left: 10px; top: 84px; width: 150px; height: 45px;
		font-size: 13pt;
	}

	.iQontrolDeviceState  {
		position:absolute; left: 10px; top: 132px; width: 150px; height: 25px;
		font-size: 13pt;
	}

	#Dialog{
		min-width: 600px;
	}	
}

