/* Some Parts of CSS will be modified by index.js while runtime! */

body {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	background-color: white;
	background-size: cover;
}

.small {
	font-size: 70%;
}

.loader {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	border: 16px solid #484848; /* Light grey */
	border-top: 16px solid #059; /* Blue */
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 3s linear infinite;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top:-40px;
	margin-left:-40px;
	z-index: 9999;
} @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#pincode {
	display: none;
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0,0,0,0.4);
	-webkit-backdrop-filter: blur(5px);
	   -moz-backdrop-filter: blur(5px);
		    backdrop-filter: blur(5px);
	z-index: 9990;
}
.pincodeForm {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	width: 280px; 
	height: 445px;
	position: fixed;
	top: 45%;
	left: 50%;
	padding: 0px;
	margin-left: -140px;
	margin-top: -215px;
	background: transparent;
	border: 0px solid rgba(0,0,0,0.3);
	border-radius: 15px;	
}
.pincodePin {
	background: transparent;
	color: white;
	margin: 10px;
	padding: 0px;
	width: 260px;
	font-size: 3em;
	text-align: center;
	letter-spacing: 0.1em;
	border: none;
	outline: none;
	overflow: hidden;
}
.pincodeButton {
	background-color: rgba(255,255,255,0.4);
	display: inline-block;
	color: #eee;
	border: none;
	border-radius: 50%;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin: 7px 10px;
	padding: 0px;
	overflow: hidden;
}
.pincodeButton:hover {
 	box-shadow: #506CE8 0 0 1px 1px;
}
.pincodeButton:active {
 	background: #506CE8;
	color: #fff;
}
.pincodeButton.clear, .pincodeButton.enter {
	font-size: 1em;
	font-weight: normal;
}
.pincodeButton.clear:hover {
 	box-shadow: #ff3c41 0 0 1px 1px;
}
.pincodeButton.clear:active {
 	background: #ff3c41;
	color: #fff;
}
.pincodeButton.enter:hover {
 	box-shadow: #47cf73 0 0 1px 1px;
}
.pincodeButton.enter:active {
 	background: #47cf73;
	color: #fff;
}

#Toolbar {
	border-width: 0px !important;
	background: transparent !important;
}
#ToolbarContextMenu {
	background-color: #ffffffbf;
	max-height: 80vh;
	padding: 1px;
	overflow-y: auto;
}
#ToolbarContextMenu a {
	min-width: 200px;
	background-color: #d8d8d899;
	border-top: 1px solid #9e9b9b82;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #9e9b9b82;
	margin: -1px;
	padding: 20px 40px 20px 10px;
}
.iQontrolToolbarLink.ui-btn:not(.ui-btn-active) {
	max-width: 100%;
	background-color: #333333 !important;
    border-color: #1f1f1f !important;
	color: #ffffff !important;
    text-shadow: 0 1px 0 #111111 !important;
}
.iQontrolToolbarLink.ui-btn:not(.ui-btn-active):hover {
	background-color: #373737 !important;
	color: #ffffff !important;
}
.iQontrolToolbarLink.ui-btn.ui-btn-active, .iQontrolToolbarLink.ui-btn.ui-btn-active:hover {
	max-width: 100%;
	z-index: 20;
	background-color: #0c5088 !important;
    border-color: #1f1f1f !important;
	color: #ffffff !important;
    box-shadow: 0 0 12px 1px #0c5088 !important;
    text-shadow: 0 1px 0 0 #111111 !important;
}
.iQontrolToolbarLink.ui-btn:after {
	background-color: transparent !important;
}

#View {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	background-color: transparent;
}
#ViewDeviceContextMenu {
	background-color: #ffffffbf;
}
#ViewDeviceContextMenu a {
	min-width: 200px;
	background-color: #d8d8d899;
	border-top: 1px solid #9e9b9b82;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #9e9b9b82;
	margin: -1px;
	padding: 20px 40px 20px 10px;
}
#ViewMain {
	overflow-y:hidden;
	margin: 0px;
	padding: 0px;
	min-height:100vh;
	color: #FFF;
	font-size: 11pt;
	font-weight: bold;
	font-family: verdana,tahoma,arial,helvetica,sans-serif;
	text-shadow: none;
}
#ViewHeaderTitle {
	background-color: rgba(0,0,0,0.15);
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 7px;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
#ViewContent {
	transform-origin: left top;
	padding-bottom: 300px;
	display: inline-block;
	width: 100%;
	text-align: left;
	vertical-align: top;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
#ViewContent h4 {
	background-color: rgba(0,0,0,0.15);
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 7px;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 0px;
}
.viewShuffleContainer {
	overflow: visible !important;
}
.iQontrolDevicePressureIndicator {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	display: inline-block;
	top: 0; left: 0;
	margin: 6px;
	padding: 0px;
	background: transparent;
	border: 0px solid rgba(255, 255, 255, 1);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	text-align: left;
	overflow: visible;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(175,175,175,0.85);
	   -moz-box-shadow: 0px 0px 0px 0px rgba(175,175,175,0.85);
	        box-shadow: 0px 0px 0px 0px rgba(175,175,175,0.85);
}
.iQontrolDevicePressureIndicator.hideDeviceIfInactive:not(.active), .iQontrolDevicePressureIndicator.hideDeviceIfActive.active {
	visibility: hidden !important; 
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDevicePressureIndicator.hideDeviceIfInactive.active, .iQontrolDevicePressureIndicator.hideDeviceIfActive:not(.active) {
	visibility: visible !important; 
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDeviceShuffleSizer {
	display: none;
	height: 0px;
	width: 61px;
	-webkit-transition: all 0s;
	   -moz-transition: all 0s;
			transition: all 0s;
}
.iQontrolDevice {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	display: block;
	top: 0; left:0;
	width: 104px; max-width: 104px;
	height: 104px; max-height: 104px;
	margin: 0px;
	padding: 3px 3px 3px 3px;
	background: transparent;
	border: 0px solid rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
			box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
	-webkit-transform: translate3d(0px,0px,0);
	   -moz-transform: translate3d(0px,0px,0);
			transform: translate3d(0px,0px,0);
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
	text-align: left;
	overflow: hidden;
}
.iQontrolDevice.narrow, .iQontrolDevice:not(.active).narrowIfInactive, .iQontrolDevice.active.narrowIfActive, .iQontrolDevice.enlarged.narrowIfEnlarged {
	width: 43px; max-width: 43px;
}
.iQontrolDevice.enlarged.normalIfEnlarged {
	width: 104px; max-width: 104px;
}
.iQontrolDevice.wide, .iQontrolDevice:not(.active).wideIfInactive, .iQontrolDevice.active.wideIfActive, .iQontrolDevice.enlarged.wideIfEnlarged {
	width: 226px; max-width: 226px;
}
.iQontrolDevice.xwide, .iQontrolDevice:not(.active).xwideIfInactive, .iQontrolDevice.active.xwideIfActive, .iQontrolDevice.enlarged.xwideIfEnlarged {
	width: 348px; max-width: 348px;
}
.iQontrolDevice.short, .iQontrolDevice:not(.active).shortIfInactive, .iQontrolDevice.active.shortIfActive, .iQontrolDevice.enlarged.shortIfEnlarged {
	height: 43px; max-height: 43px;
}
.iQontrolDevice.enlarged.normalIfEnlarged {
	height: 104px; max-height: 104px;
}
.iQontrolDevice.high, .iQontrolDevice:not(.active).highIfInactive, .iQontrolDevice.active.highIfActive, .iQontrolDevice.enlarged.highIfEnlarged {
	height: 226px; max-height: 226px;
}
.iQontrolDevice.xhigh, .iQontrolDevice:not(.active).xhighIfInactive, .iQontrolDevice.active.xhighIfActive, .iQontrolDevice.enlargedxhighIfEnlarged {
	height: 348px; max-height: 348px;
}
.iQontrolDevice.fullWidth, .iQontrolDevice:not(.active).fullWidthIfInactive, .iQontrolDevice.active.fullWidthIfActive, .iQontrolDevice.enlarged.fullWidthIfEnlarged {
	width: 95vw; width: calc(100vw - 40px); max-width: 95vw; max-width: calc(100vw - 40px); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
}
.iQontrolDevice.aspect-1-1, .iQontrolDevice:not(.active).aspect-1-1IfInactive, .iQontrolDevice.active.aspect-1-1IfActive, .iQontrolDevice.enlarged.aspect-1-1IfEnlarged {
	padding-bottom: 100%; padding-bottom: calc(100% - 104px);
}
.iQontrolDevice.aspect-4-3, .iQontrolDevice:not(.active).aspect-4-3IfInactive, .iQontrolDevice.active.aspect-4-3IfActive, .iQontrolDevice.enlarged.aspect-4-3IfEnlarged {
	padding-bottom: 75%; padding-bottom: calc(75% - 104px);
}
.iQontrolDevice.aspect-3-2, .iQontrolDevice:not(.active).aspect-3-2IfInactive, .iQontrolDevice.active.aspect-3-2IfActive, .iQontrolDevice.enlarged.aspect-3-3IfEnlarged {
	padding-bottom: 66.66%; padding-bottom: calc(66.66% - 104px);
}
.iQontrolDevice.aspect-16-9, .iQontrolDevice:not(.active).aspect-16-9IfInactive, .iQontrolDevice.active.aspect-16-9IfActive, .iQontrolDevice.enlarged.aspect-16-9IfEnlarged {
	padding-bottom: 56.25%; padding-bottom: calc(56.25% - 104px);
}
.iQontrolDevice.aspect-21-9, .iQontrolDevice:not(.active).aspect-21-9IfInactive, .iQontrolDevice.active.aspect-21-9IfActive, .iQontrolDevice.enlarged.aspect-21-9IfEnlarged {
	padding-bottom: 42.86%; padding-bottom: calc(42.86% - 104px);
}
.iQontrolDevice.aspect-1-1-limited, .iQontrolDevice:not(.active).aspect-1-1-limitedIfInactive, .iQontrolDevice.active.aspect-1-1-limitedIfActive, .iQontrolDevice.enlarged.aspect-1-1-limitedIfEnlarged {
	padding-bottom: 100%; padding-bottom: calc(100% - 104px); padding-bottom: min(calc(100% - 104px), calc(100vh - 174px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
}
.iQontrolDevice.aspect-4-3-limited, .iQontrolDevice:not(.active).aspect-4-3-limitedIfInactive, .iQontrolDevice.active.aspect-4-3-limitedIfActive, .iQontrolDevice.enlarged.aspect-4-3-limitedIfEnlarged {
	padding-bottom: 75%; padding-bottom: calc(75% - 104px); padding-bottom: min(calc(75% - 104px), calc(100vh - 174px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
}
.iQontrolDevice.aspect-3-2-limited, .iQontrolDevice:not(.active).aspect-3-2-limitedIfInactive, .iQontrolDevice.active.aspect-3-2-limitedIfActive, .iQontrolDevice.enlarged.aspect-3-3-limitedIfEnlarged {
	padding-bottom: 66.66%; padding-bottom: calc(66.66% - 104px); padding-bottom: min(calc(66.66% - 104px), calc(100vh - 174px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
}
.iQontrolDevice.aspect-16-9-limited, .iQontrolDevice:not(.active).aspect-16-9-limitedIfInactive, .iQontrolDevice.active.aspect-16-9-limitedIfActive, .iQontrolDevice.enlarged.aspect-16-9-limitedIfEnlarged {
	padding-bottom: 56.25%; padding-bottom: calc(56.25% - 104px); padding-bottom: min(calc(56.25% - 104px), calc(100vh - 174px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
}
.iQontrolDevice.aspect-21-9-limited, .iQontrolDevice:not(.active).aspect-21-9-limitedIfInactive, .iQontrolDevice.active.aspect-21-9-limitedIfActive, .iQontrolDevice.enlarged.aspect-21-9-limitedIfEnlarged {
	padding-bottom: 42.86%; padding-bottom: calc(42.86% - 104px); padding-bottom: min(calc(42.86% - 104px), calc(100vh - 174px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
}
.iQontrolDevice.fullHeight, .iQontrolDevice:not(.active).fullHeightIfInactive, .iQontrolDevice.active.fullHeightIfActive, .iQontrolDevice.enlarged.fullHeightIfEnlarged {
	height: 85vh; height: calc(100vh - 70px); max-height: 85vh; max-height: calc(100vh - 70px); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
	padding-bottom: unset !important;
}
.iQontrolDevice:hover {
	border: 0px solid rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
}
.iQontrolDeviceLink {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: default !important;
	cursor: default;
}
.iQontrolDeviceLink.dialog {
	cursor: default;
}
.iQontrolDeviceLink.linkedView {
	cursor: alias;
}
.iQontrolDeviceLink.externalLink {
	cursor: copy;
}
.iQontrolDeviceLink.toggle {
	cursor: pointer;
}
.iQontrolDeviceLinkToToggle {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	cursor: pointer;
}
.iQontrolDeviceLinkToToggle.dialog {
	cursor: default;
}
.iQontrolDeviceBackgroundIframeWrapper {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	position: absolute;	top:0px; left:0px; width:100%; height:100%;
	display: block;
	border: none; 
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
	overflow: hidden;
}
.iQontrolDevice:not(.active) .iQontrolDeviceBackgroundIframeWrapper.hideIfInactive {
	pointer-events:none !important;
	opacity: 0 !important;
}
.iQontrolDevice.active .iQontrolDeviceBackgroundIframeWrapper.hideIfActive {
	pointer-events:none !important;
	opacity: 0 !important;
}
.iQontrolDevice.enlarged .iQontrolDeviceBackgroundIframeWrapper.hideIfEnlarged {
	pointer-events:none !important;
	opacity: 0 !important;
}
.iQontrolDevice.enlarged .iQontrolDeviceBackgroundIframeWrapper.visibleIfEnlarged {
	pointer-events:unset !important;
	opacity: 1 !important;
}
.iQontrolDeviceBackgroundIframeWrapper:hover {
	-webkit-transform: scale3d(1.05,1.05,1);
	   -moz-transform: scale3d(1.05,1.05,1);
			transform: scale3d(1.05,1.05,1);
}
.iQontrolDeviceBackgroundIframeWrapper.noZoomOnHover:hover {
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
}
.iQontrolDeviceBackgroundIframe {
	width: 100%;
	min-height: 100%;
	border: none;
}
.iQontrolDeviceBackgroundImage {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	position: absolute;	top:0px; left:0px; width:100%; height:100%;
	display: block;
	background-size:cover; background-position:center;	
	border: none; 
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
	overflow: hidden;
}
.iQontrolDeviceBackgroundImage:hover {
	-webkit-transform: scale3d(1.05,1.05,1);
	   -moz-transform: scale3d(1.05,1.05,1);
			transform: scale3d(1.05,1.05,1);
}
.iQontrolDeviceBackgroundImage.noZoomOnHover:hover {
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
}
.iQontrolDevice.active .iQontrolDeviceBackgroundImage:not(.active) {
	pointer-events:none !important;
	opacity: 0 !important;
	-webkit-transition: opacity 1.25s ease-in;
	   -moz-transition: opacity 1.25s ease-in;
			transition: opacity 1.25s ease-in;
}
.iQontrolDevice:not(.active) .iQontrolDeviceBackgroundImage.active {
	pointer-events:none !important;
	opacity: 0 !important;
	-webkit-transition: opacity 1.25s ease-in;
	   -moz-transition: opacity 1.25s ease-in;
			transition: opacity 1.25s ease-in;
}
.iQontrolDeviceBackgroundImage:not(.active) {
	background-color: rgba(255, 255, 255, 0.6);
	opacity: 0.99;
}
.iQontrolDeviceBackgroundImage:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.6);
	opacity: 0.99;
}
.iQontrolDeviceBackgroundImage.active {
	background-color: rgba(255, 255, 255, 0.6);
	opacity: 0.99;
}
.iQontrolDeviceBackgroundImage.active:hover {
	background-color: rgba(255, 255, 255, 0.6);
	opacity: 0.99;
}
.iQontrolDeviceBackground {
	pointer-events: none !important;	
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
	position: absolute;	top:0px; left:0px; width:100%; height:100%;
	display: block;
	border: none;
	-webkit-transform: scale3d(1.1,1.1,2);
	   -moz-transform: scale3d(1.1,1.1,2);
			transform: scale3d(1.1,1.1,2);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
	overflow: hidden;
}
.iQontrolDevice.active .iQontrolDeviceBackground:not(.active) {
	opacity: 0 !important;
}
.iQontrolDevice:not(.active) .iQontrolDeviceBackground.active {
	opacity: 0 !important;
}
.iQontrolDevice.enlarged .iQontrolDeviceBackground.hideIfEnlarged {
	opacity: 0 !important;
}
.iQontrolDeviceBackground:not(.active) {
	background-color: rgb(180, 180, 180);
	opacity: 0.5;
}
.iQontrolDevice:hover .iQontrolDeviceBackground:not(.active) {
	background-color: rgb(190, 190, 190);
	opacity: 0.9;
}
.iQontrolDeviceBackground.active {
	background-color: rgb(255, 255, 255);
	opacity: 0.82;
}
.iQontrolDevice:hover .iQontrolDeviceBackground.active {
	background-color: rgb(255, 255, 255);
	opacity: 0.95;
}
.iQontrolDeviceIcon {
	pointer-events:none !important;
	position:absolute; left: 5px; top: 5px; width: 38px; height: 38px;
	margin: 3px;
	overflow: hidden;
	-webkit-transform: scale3d(1.0,1.0,1);
	   -moz-transform: scale3d(1.0,1.0,1);
			transform: scale3d(1.0,1.0,1);
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
			transition: all 0.5s;
	opacity: 0;
	display: none;
}
.iQontrolDevice.narrow .iQontrolDeviceIcon, .iQontrolDevice:not(.active).narrowIfInactive .iQontrolDeviceIcon, .iQontrolDevice.active.narrowIfActive .iQontrolDeviceIcon, .iQontrolDevice.enlarged.narrowIfEnlarged .iQontrolDeviceIcon {
	left:2.5px;
}
.iQontrolDevice.short .iQontrolDeviceIcon, .iQontrolDevice:not(.active).shortIfInactive .iQontrolDeviceIcon, .iQontrolDevice.active.shortIfActive .iQontrolDeviceIcon, .iQontrolDevice.enlarged.shortIfEnlarged .iQontrolDeviceIcon {
    top:2.5px;
}
.iQontrolDevice.bigIcon .iQontrolDeviceIcon, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceIcon, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceIcon, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceIcon {
	width: 94px; height: 94px;
}
.iQontrolDeviceIcon.active {
	pointer-events:auto !important;
	opacity: 1;
	display: block;
}
.iQontrolDeviceIcon.overlay {
	pointer-events:none !important;
}
.iQontrolDeviceIcon:hover {
	-webkit-transform: scale3d(1.2,1.2,1);
	   -moz-transform: scale3d(1.2,1.2,1);
			transform: scale3d(1.2,1.2,1);
}
.iQontrolDevice.enlarged .iQontrolDeviceIcon.hideIfEnlarged {
	pointer-events: none !important;
	opacity:0 !important;
}
.iQontrolDevice.active .iQontrolDeviceIcon.noPointerEventsIfActive, .iQontrolDevice:not(.active) .iQontrolDeviceIcon.noPointerEventsIfInactive, .iQontrolDevice.enlarged .iQontrolDeviceIcon.noPointerEventsIfEnlarged {
	pointer-events: none !important;
}
.iQontrolDeviceLoading {
	pointer-events:none !important;
	position:absolute; left: 15px; top: 15px; width: 24px; height: 24px;
	overflow: hidden;
	z-index: 1000;
	opacity: 0;
	-webkit-transition: all 0.2s ease 0.25s;
	   -moz-transition: all 0.2s ease 0.25s;
			transition: all 0.2s ease 0.25s;
}
.iQontrolDevice.narrow .iQontrolDeviceLoading, .iQontrolDevice:not(.active).narrowIfInactive .iQontrolDeviceLoading, .iQontrolDevice.active.narrowIfActive .iQontrolDeviceLoading, .iQontrolDevice.enlarged.narrowIfEnlarged .iQontrolDeviceLoading {
	left:12.5px;
}
.iQontrolDevice.short .iQontrolDeviceLoading, .iQontrolDevice:not(.active).shortIfInactive .iQontrolDeviceLoading, .iQontrolDevice.active.shortIfActive .iQontrolDeviceLoading, .iQontrolDevice.enlarged.shortIfEnlarged .iQontrolDeviceLoading {
    top:12.5px;
}
.iQontrolDevice.bigIcon .iQontrolDeviceLoading, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceLoading, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceLoading, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceLoading {
	width: 80px; height: 80px;
}
.iQontrolDeviceLoading.active {
	opacity: 0.9;
}
.iQontrolDeviceError {
	pointer-events:none !important;
	position:absolute; left: 52px; top: 2px; width: 16px; height: 16px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDevice.bigIcon .iQontrolDeviceError, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceError, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceError, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceError {
	left: 108px; 
}
.iQontrolDeviceError.active {
	opacity: 1;
}
.iQontrolDeviceUnreach {
	pointer-events:none !important;
	position:absolute; left: 68px; top: 2px; width: 16px; height: 16px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDevice.bigIcon .iQontrolDeviceUnreach, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceUnreach, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceUnreach, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceUnreach {
	left: 124px; 
}
.iQontrolDeviceUnreach.active {
	opacity: 1;
}
.iQontrolDeviceBattery {
	pointer-events:none !important;
	position:absolute; left: 84px; top: 2px; width: 16px; height: 16px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDevice.bigIcon .iQontrolDeviceBattery, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceBattery, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceBattery, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceBattery {
	left: 140px; 
}
.iQontrolDeviceBattery.active {
	opacity: 1;
}
.iQontrolDeviceEnlargeButton {
	pointer-events:all !important;
	cursor: zoom-in;
	position:absolute; right: -1px; top: 0px; width: 10px; height: 10px;
	overflow: hidden;
	background-image: url("./images/maximize.png");
	background-position: 1px 4px;
	background-repeat: no-repeat;
	background-size: 50%;
	background-color: lightgrey;
	border:lightgrey 1px solid;
	opacity:0;
	-webkit-border-radius: 0px 0px 0px 5px;
	   -moz-border-radius: 0px 0px 0px 5px;
	        border-radius: 0px 0px 0px 5px;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
	        box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
			transition: all 0.5s;
}
.iQontrolDevice.enlarged .iQontrolDeviceEnlargeButton {
	cursor: zoom-out;
	background-image: url("./images/minimize.png");
	background-position: 1px 4px;
}
.iQontrolDevice:not(.active) .iQontrolDeviceEnlargeButton.showIfInactive, .iQontrolDevice.active .iQontrolDeviceEnlargeButton.showIfActive, .iQontrolDevice.enlarged .iQontrolDeviceEnlargeButton {
	pointer-events:auto !important;
	opacity: 0.5;
}
.iQontrolDeviceEnlargeButton:hover {
	opacity: 0.6;
	border: lightgrey 4px solid;
}
.iQontrolDeviceInfoAIcon {
	pointer-events:none !important;
	position:absolute; left: 52px; top: 20px; width: 12px; height: 12px;
	overflow: hidden;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDevice.bigIcon .iQontrolDeviceInfoAIcon, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceInfoAIcon, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceInfoAIcon, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceInfoAIcon {
	left: 108px; 
}
.iQontrolDevice:not(.active) .iQontrolDeviceInfoAIcon.hideIfInactive, .iQontrolDevice.active .iQontrolDeviceInfoAIcon.hideIfActive, .iQontrolDevice.enlarged .iQontrolDeviceInfoAIcon.hideIfEnlarged {
	opacity:0 !important;
}
.iQontrolDeviceInfoAText {
	pointer-events:none !important;
	position:absolute; left: 65px; top: 19px; 
	width: 45px; width: calc(100% - 64px); 
	height: 16px;
	overflow: hidden;
	background: transparent;
	color: black;
	font-size: 7.5pt;
	font-weight: normal;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	text-align: left;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDevice.bigIcon .iQontrolDeviceInfoAText, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceInfoAText, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceInfoAText, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceInfoAText {
	left: 121px; 
	width: calc(100% - 120px); 
}
.iQontrolDevice:not(.active) .iQontrolDeviceInfoAText.hideIfInactive, .iQontrolDevice.active .iQontrolDeviceInfoAText.hideIfActive, .iQontrolDevice.enlarged .iQontrolDeviceInfoAText.hideIfEnlarged {
	opacity:0 !important;
}
.iQontrolDeviceInfoATextHue, .iQontrolDeviceInfoATextCt { 
	border: none;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
.iQontrolDeviceInfoBIcon {
	pointer-events:none !important;
	position:absolute; left: 52px; top: 39px; width: 12px; height: 12px;
	overflow: hidden;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDevice.bigIcon .iQontrolDeviceInfoBIcon, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceInfoBIcon, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceInfoBIcon, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceInfoBIcon {
	left: 108px; 
}
.iQontrolDevice:not(.active) .iQontrolDeviceInfoBIcon.hideIfInactive, .iQontrolDevice.active .iQontrolDeviceInfoBIcon.hideIfActive, .iQontrolDevice.enlarged .iQontrolDeviceInfoBIcon.hideIfEnlarged {
	opacity:0 !important;
}
.iQontrolDeviceInfoBText {
	pointer-events:none !important;
	position:absolute; left: 65px; top: 38px; 
	width: 45px; width: calc(100% - 64px); 
	height: 16px;
	overflow: hidden;
	background: transparent;
	color: black;
	font-size: 7.5pt;
	font-weight: normal;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	text-align: left;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDevice.bigIcon .iQontrolDeviceInfoBText, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceInfoBText, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceInfoBText, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceInfoBText {
	left: 121px;
	width: calc(100% - 120px); 
}
.iQontrolDevice:not(.active) .iQontrolDeviceInfoBText.hideIfInactive, .iQontrolDevice.active .iQontrolDeviceInfoBText.hideIfActive, .iQontrolDevice.enlarged .iQontrolDeviceInfoBText.hideIfEnlarged {
	opacity:0 !important;
}
.iQontrolDeviceName {
	pointer-events:none !important;
	position:absolute; left: 5px; top: 58px; 
	width: 103px; width: calc(100% - 5px);
	height: 30px;
	overflow: hidden;
	background: transparent;
	color: black;
	font-size: 9pt;
	font-weight: bold;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);	
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
}
.iQontrolDevice.bigIcon .iQontrolDeviceName, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceName, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceName, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceName {
	top: 114px; 
}
.iQontrolDevice.active .iQontrolDeviceName.hideIfActive, .iQontrolDevice:not(.active) .iQontrolDeviceName.hideIfInactive, .iQontrolDevice.enlarged .iQontrolDeviceName.hideIfEnlarged {
	opacity:0 !important;
}
.iQontrolDeviceState {
	pointer-events:none !important;
	position:absolute; left: 5px; top: 90px; 
	width: 103px; width: calc(100% - 5px);
	height: 17px; height: calc(100% - 90px);
	overflow: hidden;
	background: transparent;
	color: black;
	font-size: 9pt;
	font-weight: normal;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);	
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
			transition: all 1s;
	display: block;
	word-wrap: break-word;
}
.iQontrolDevice.high .iQontrolDeviceState, .iQontrolDevice:not(.active).highIfInactive .iQontrolDeviceState, .iQontrolDevice.active.highIfActive .iQontrolDeviceState, .iQontrolDevice.enlarged.highIfEnlarged .iQontrolDeviceState,
.iQontrolDevice.xhigh .iQontrolDeviceState, .iQontrolDevice:not(.active).xhighIfInactive .iQontrolDeviceState, .iQontrolDevice.active.xhighIfActive .iQontrolDeviceState, .iQontrolDevice.enlarged.xhighIfEnlarged .iQontrolDeviceState {
	word-wrap: break-word;
}
.iQontrolDevice.bigIcon .iQontrolDeviceState, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceState, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceState, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceState {
	top: 146px; 
	height: calc(100% - 146px); 
}
.iQontrolDevice.active .iQontrolDeviceState.hideIfActive, .iQontrolDevice:not(.active) .iQontrolDeviceState.hideIfInactive, .iQontrolDevice.enlarged .iQontrolDeviceState.hideIfEnlarged {
	opacity:0 !important;
}

#Dialog {
	min-width: 300px;
	max-width: 100%;
}
.iQontrolDialogTimestampSwitch {
	position: absolute;
	right: 3px;
	top: 2px;
	width: 16px;	
	cursor: pointer;
}
.jqte { 
    width:300px; 
    max-width:100%;
	margin: 0px !important;
    border-color: rgb(221,221,221) !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important; 
	   -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important;
	        box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important; 
	-webkit-border-radius: 6px !important;
	   -moz-border-radius: 6px !important;
			border-radius: 6px !important;
}
.jqte.DialogAdditionalControlsString{
	width: 266px;
}
.jqte_focused {
    border-color: rgb(221,221,221) !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important; 
	   -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important;
	        box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important; 
}
.jqte_toolbar {
	position: unset !important;
	z-index: unset !important;	
}
.jqte_tool:not(.jqte_tool_1) {
	width: 20px !important;
	height: 20px !important;
}
.jqte_tool_1 {
	height: 20px;
}
.jqte_tool_icon {
	background-size:stretch !important;
	opacity: 0.6 !important;
}
.jqte_formats, .jqte_fontsizes, .jqte_cpalette {
	position: absolute !important;
	z-index: 10000 !important;
}
.jqte_editor {
    -webkit-user-select: text;
	-webkit-touch-callout: none;
    user-select: text;
}
.jqte_source {
	background-color: white !important;
}
.jqte_source textarea {
	top: 0px !important;
	height: 100% !important;
	overflow-y: scroll !important;
	-webkit-box-shadow: none !important; 
	   -moz-box-shadow: none !important;
	        box-shadow: none !important; 
}
.iQontrolDialogIframeWrapper {
	-webkit-overflow-scrolling: touch;
	height: 85vh;
	max-height: 100%;
	min-height:100px;
	width: 85vw;
	max-width: 100%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: 2px inset #eee;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	scrolling: auto;
	overflow: hidden;
	position: relative;
}
.iQontrolDialogIframe {
	scrolling: none;
	overflow: visible;
	min-width:100%;
	max-width:100%;
	width: 100%;
	height: 100%;
	border: none;
}
.iQontrolDialogMediaText.artist {
	font-weight: bold;
}
.iQontrolDialogMediaText.title {
	font-style: italic;
}
.iQontrolDialogAdditionalInfoList {
	list-style-position: outside;
	padding-left: 10px;
}
.colorPicker + .ui-slider-track {
	background-image: url(./images/hue.png) !important;
	background-repeat: repeat-y !important;
	background-size: 100%, auto !important;
}
.colorTemperaturePicker + .ui-slider-track {
	background-image: url(./images/ct.png) !important;
	background-repeat: repeat-y !important;
	background-size: 100%, auto !important;
}
.colorTemperaturePicker.invert + .ui-slider-track {
	background-image: url(./images/ct_invert.png) !important;
	background-repeat: repeat-y !important;
	background-size: 100%, auto !important;
}
.colorSaturationPicker + .ui-slider-track {
	background-image: linear-gradient(to right, white, black) !important;
	background-repeat: repeat-y !important;
	background-size: 100%, auto !important;
}
.fullWidthSlider .ui-slider-input {
	display: none;
}
.fullWidthSlider .ui-slider-track {
	margin-left: 15px !important;
}
.fullWidthSlider .ui-mini .ui-slider-track {
	margin-left: 0px !important;
}
.ui-slider-track .ui-btn.ui-slider-handle {
    font-size: .7em !important;
}
.ui-slider-popup {
    font-size: 29px !important;
}
.ui-slider-popup.longText {
    font-size: 20px !important;
}
.ui-slider-popup.extraLongText {
    font-size: 16px !important;
}
.ui-listview a {  
/* Link-Listview nicht fett und ohne Umbruch */
	font-weight: normal !important;
	white-space: normal !important;
}
.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
/* Listview ohne Umbruch */
	white-space: normal !important;
}
.ui-state-disabled {
	opacity: 0.75 !important;
}
.ui-state-disabled.ui-btn.ui-btn-icon-right::after {
	display: none !important;
}
.ui-state-disabled.ui-slider-track .ui-btn.ui-slider-handle {
	border: none;
	background: none;
	box-shadow: none;
	text-align: right;
	margin-left: -33px;
	color: black;
	text-shadow: 0 1px 0 grey;
}

.ui-popup-screen {
	-webkit-user-select: none !important;
	   -moz-user-select: none !important; 
	        user-select: none !important;
	-webkit-touch-callout: none !important;
}

/* ++++++++++++++ RESPONSIVE DESIGN FOR BIGGER SCREENS ++++++++++++++ */
@media screen and (min-width: 600px) {
	#Dialog {
		min-width: 500px;
	}
	.jqte { 
		min-width:500px; 
	}
	.jqte.DialogAdditionalControlsString { 
		min-width:466px; 
	}
	.iQontrolDialogIframeWrapper {
		min-width: 500px;
	}
}

@media screen and (min-width: 1500px) {
	#ViewMain {
		font-size: 22pt;
	}
	#ViewHeaderTitle {
		font-size: 22pt;
	}
	#ViewContent h4 {
		font-size: 15pt;
	}

	.iQontrolDevicePressureIndicator {
		margin: 12px;
		-webkit-border-radius: 22px;
		   -moz-border-radius: 22px;
				border-radius: 22px;
	}
	.iQontrolDeviceShuffleSizer {
		width: 93px;
	}
	.iQontrolDevice {
		width: 156px; max-width: 156px;
		height: 156px; max-height: 156px;
		padding: 3px 3px 3px 3px;
		-webkit-border-radius: 22px;
		   -moz-border-radius: 22px;
				border-radius: 22px;
		-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
		   -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
				box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
	}
	.iQontrolDevice.narrow, .iQontrolDevice:not(.active).narrowIfInactive, .iQontrolDevice.active.narrowIfActive, .iQontrolDevice.enlarged.narrowIfEnlarged {
		width: 63px; max-width: 63px;
	}
	.iQontrolDevice.enlarged.normalIfEnlarged {
		width: 156px; max-width: 156px;
	}
	.iQontrolDevice.wide, .iQontrolDevice:not(.active).wideIfInactive, .iQontrolDevice.active.wideIfActive, .iQontrolDevice.enlarged.wideIfEnlarged {
		width: 342px; max-width: 342px;
	}
	.iQontrolDevice.xwide, .iQontrolDevice:not(.active).xwideIfInactive, .iQontrolDevice.active.xwideIfActive, .iQontrolDevice.enlarged.xwideIfEnlarged {
		width: 528px; max-width: 528px;
	}
	.iQontrolDevice.short, .iQontrolDevice:not(.active).shortIfInactive, .iQontrolDevice.active.shortIfActive, .iQontrolDevice.enlarged.shortIfEnlarged {
		height: 63px; max-height: 63px;
	}
	.iQontrolDevice.enlarged.normalIfEnlarged {
		height: 156px; max-height: 156px;
	}
	.iQontrolDevice.high, .iQontrolDevice:not(.active).highIfInactive, .iQontrolDevice.active.highIfActive, .iQontrolDevice.enlarged.highIfEnlarged {
		height: 342px; max-height: 342px;
	}
	.iQontrolDevice.xhigh, .iQontrolDevice:not(.active).xhighIfInactive, .iQontrolDevice.active.xhighIfActive, .iQontrolDevice.enlarged.xhighIfEnlarged {
		height: 528px; max-height: 528px;
	}
	.iQontrolDevice.fullWidth, .iQontrolDevice:not(.active).fullWidthIfInactive, .iQontrolDevice.active.fullWidthIfActive, .iQontrolDevice.enlarged.fullWidthIfEnlarged {
		width: 95vw; width: calc(100vw - 40px); max-width: 95vw; max-width: calc(100vw - 40px); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
	}
	.iQontrolDevice.aspect-1-1, .iQontrolDevice:not(.active).aspect-1-1IfInactive, .iQontrolDevice.active.aspect-1-1IfActive, .iQontrolDevice.enlarged.aspect-1-1IfEnlarged {
		padding-bottom: calc(100% - 156px);
	}
	.iQontrolDevice.aspect-4-3, .iQontrolDevice:not(.active).aspect-4-3IfInactive, .iQontrolDevice.active.aspect-4-3IfActive, .iQontrolDevice.enlarged.aspect-4-3IfEnlarged {
		padding-bottom: calc(75% - 156px);
	}
	.iQontrolDevice.aspect-3-2, .iQontrolDevice:not(.active).aspect-3-2IfInactive, .iQontrolDevice.active.aspect-3-2IfActive, .iQontrolDevice.enlarged.aspect-3-2IfEnlarged {
		padding-bottom: calc(66.66% - 156px);
	}
	.iQontrolDevice.aspect-16-9, .iQontrolDevice:not(.active).aspect-16-9IfInactive, .iQontrolDevice.active.aspect-16-9IfActive, .iQontrolDevice.enlarged.aspect-16-9IfEnlarged {
		padding-bottom: calc(56.25% - 156px);
	}
	.iQontrolDevice.aspect-21-9, .iQontrolDevice:not(.active).aspect-21-9IfInactive, .iQontrolDevice.active.aspect-21-9IfActive, .iQontrolDevice.enlarged.aspect-21-9IfEnlarged {
		padding-bottom: calc(42.86% - 156px);
	}
	.iQontrolDevice.aspect-1-1-limited, .iQontrolDevice:not(.active).aspect-1-1-limitedIfInactive, .iQontrolDevice.active.aspect-1-1-limitedIfActive, .iQontrolDevice.enlarged.aspect-1-1-limitedIfEnlarged {
		padding-bottom: calc(100% - 156px); padding-bottom: min(calc(100% - 156px), calc(100vh - 226px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
	}
	.iQontrolDevice.aspect-4-3-limited, .iQontrolDevice:not(.active).aspect-4-3-limitedIfInactive, .iQontrolDevice.active.aspect-4-3-limitedIfActive, .iQontrolDevice.enlarged.aspect-4-3-limitedIfEnlarged {
		padding-bottom: calc(75% - 156px); padding-bottom: min(calc(75% - 156px), calc(100vh - 226px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
	}
	.iQontrolDevice.aspect-3-2-limited, .iQontrolDevice:not(.active).aspect-3-2-limitedIfInactive, .iQontrolDevice.active.aspect-3-2-limitedIfActive, .iQontrolDevice.enlarged.aspect-3-3-limitedIfEnlarged {
		padding-bottom: calc(66.66% - 156px); padding-bottom: min(calc(66.66% - 156px), calc(100vh - 226px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
	}
	.iQontrolDevice.aspect-16-9-limited, .iQontrolDevice:not(.active).aspect-16-9-limitedIfInactive, .iQontrolDevice.active.aspect-16-9-limitedIfActive, .iQontrolDevice.enlarged.aspect-16-9-limitedIfEnlarged {
		padding-bottom: calc(56.25% - 156px); padding-bottom: min(calc(56.25% - 156px), calc(100vh - 226px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
	}
	.iQontrolDevice.aspect-21-9-limited, .iQontrolDevice:not(.active).aspect-21-9-limitedIfInactive, .iQontrolDevice.active.aspect-21-9-limitedIfActive, .iQontrolDevice.enlarged.aspect-21-9-limitedIfEnlarged {
		padding-bottom: calc(42.86% - 156px); padding-bottom: min(calc(42.86% - 156px), calc(100vh - 226px)); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
	}
	.iQontrolDevice.fullHeight, .iQontrolDevice:not(.active).fullHeightIfInactive, .iQontrolDevice.active.fullHeightIfActive, .iQontrolDevice.enlarged.fullHeightIfEnlarged {
		height: 85vh; height: calc(100vh - 70px); max-height: 85vh; max-height: calc(100vh - 70px); /* is activly changed by resizeFullWidthDevicesToFitScreen() */
		padding-bottom: unset !important;
	}
	.iQontrolDevice:hover {
		-webkit-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
		   -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
				box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
	}
	.iQontrolDeviceBackgroundImage {
		-webkit-transform: scale3d(1.0,1.0,1);
		   -moz-transform: scale3d(1.0,1.0,1);
				transform: scale3d(1.0,1.0,1);
	}
	.iQontrolDeviceBackgroundImage:hover {
		-webkit-transform: scale3d(1.05,1.05,1);
		   -moz-transform: scale3d(1.05,1.05,1);
				transform: scale3d(1.05,1.05,1);
	}
	.iQontrolDeviceIcon {
		position:absolute; left: 5px; top: 5px; width: 57px; height: 57px;
		margin: 3px;
		-webkit-transform: scale3d(1.0,1.0,1);
		   -moz-transform: scale3d(1.0,1.0,1);
				transform: scale3d(1.0,1.0,1);
	}
	.iQontrolDevice.narrow .iQontrolDeviceIcon, .iQontrolDevice:not(.active).narrowIfInactive .iQontrolDeviceIcon, .iQontrolDevice.active.narrowIfActive .iQontrolDeviceIcon, .iQontrolDevice.enlarged.narrowIfEnlarged .iQontrolDeviceIcon {
		left:3px;
	}
	.iQontrolDevice.short .iQontrolDeviceIcon, .iQontrolDevice:not(.active).shortIfInactive .iQontrolDeviceIcon, .iQontrolDevice.active.shortIfActive .iQontrolDeviceIcon, .iQontrolDevice.enlarged.shortIfEnlarged .iQontrolDeviceIcon {
		top:3px;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceIcon, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceIcon, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceIcon, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceIcon {
		width: 146px; height: 146px; 
	}
	.iQontrolDeviceIcon:hover {
		-webkit-transform: scale3d(1.2,1.2,1);
		   -moz-transform: scale3d(1.2,1.2,1);
				transform: scale3d(1.2,1.2,1);
	}
	.iQontrolDeviceLoading {
		position:absolute; left: 18px; top: 18px; width: 36px; height: 36px;
	}
	.iQontrolDevice.narrow .iQontrolDeviceLoading, .iQontrolDevice:not(.active).narrowIfInactive .iQontrolDeviceLoading, .iQontrolDevice.active.narrowIfActive .iQontrolDeviceLoading, .iQontrolDevice.enlarged.narrowIfEnlarged .iQontrolDeviceLoading {
		left:16.5px;
	}
	.iQontrolDevice.short .iQontrolDeviceLoading, .iQontrolDevice:not(.active).shortIfInactive .iQontrolDeviceLoading, .iQontrolDevice.active.shortIfActive .iQontrolDeviceLoading, .iQontrolDevice.enlarged.shortIfEnlarged .iQontrolDeviceLoading {
		top:16.5px;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceLoading, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceLoading, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceLoading, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceLoading {
		width: 126px; height: 126px; 
	}
	.iQontrolDeviceError {
		position:absolute; left: 72px; top: 4px; width: 24px; height: 24px;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceError, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceError, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceError, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceError {
		left: 161px; 
	}
	.iQontrolDeviceUnreach {
		position:absolute; left: 100px; top: 4px; width: 24px; height: 24px;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceUnreach, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceUnreach, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceUnreach, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceUnreach {
		left: 189px; 
	}
	.iQontrolDeviceBattery {
		position:absolute; left: 129px; top: 4px; width: 24px; height: 24px;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceBattery, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceBattery, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceBattery, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceBattery {
		left: 218px; 
	}
	.iQontrolDeviceInfoAIcon {
		position:absolute; left: 72px; top: 30px; width: 18px; height: 18px;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceInfoAIcon, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceInfoAIcon, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceInfoAIcon, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceInfoAIcon {
		left: 161px; 
	}
	.iQontrolDeviceInfoAText {
		position:absolute; left: 90px; top: 30px; height: 22px;
		width: 72px; width: calc(100% - 89px); 
		font-size: 10.5pt;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceInfoAText, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceInfoAText, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceInfoAText, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceInfoAText {
		left: 179px; 
		width: calc(100% - 178px); 
	}
	.iQontrolDeviceInfoBIcon {
		position:absolute; left: 72px; top: 58px; width: 18px; height: 18px;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceInfoBIcon, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceInfoBIcon, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceInfoBIcon, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceInfoBIcon {
		left: 161px; 
	}
	.iQontrolDeviceInfoBText {
		position:absolute; left: 90px; top: 58px; height: 22px;
		width: 72px; width: calc(100% - 89px); 
		font-size: 10.5pt;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceInfoBText, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceInfoBText, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceInfoBText, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceInfoBText {
		left: 179px; 
		width: calc(100% - 178px); 
	}
	.iQontrolDeviceName {
		position:absolute; left: 10px; top: 84px; height: 45px;
		width: 155px; width: calc(100% - 10px);
		font-size: 13pt;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceName, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceName, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceName, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceName {
		top: 173px; 
	}
	.iQontrolDeviceState {
		position:absolute; left: 10px; top: 132px;
		width: 155px; width: calc(100% - 10px);
		height: 30px; height: calc(100% - 131px);
		font-size: 13pt;
	}
	.iQontrolDevice.bigIcon .iQontrolDeviceState, .iQontrolDevice:not(.active).bigIconIfInactive .iQontrolDeviceState, .iQontrolDevice.active.bigIconIfActive .iQontrolDeviceState, .iQontrolDevice.enlarged.bigIconIfEnlarged .iQontrolDeviceState {
		top: 221px; 
		height: 30px; height: calc(100% - 220px);		
	}

	#Dialog {
		min-width: 800px;
	}
	.jqte { 
		min-width: 800px; 
	}
	.jqte.DialogAdditionalControlsString { 
		min-width: 766px; 
	}
	.iQontrolDialogIframeWrapper {
		min-width: 800px;
	}
}

