.m .page {
    height: auto !important;
    min-height: 75% !important;
}

.modal {
    max-height: 85% !important;
    max-width: 95% !important;
    width: 95% !important;
    height: 80% !important;
    overflow: visible !important;
}

.dialog-select-container {
    max-height: 90% !important;
}

#tableViews .dropdown-content {
    width: auto !important;
}

#tableDevices .dropdown-content {
    width: auto !important;
}

tr.newGroup {
    background-color: transparent !important;
    border-bottom: solid 2px grey !important;
}

tr.newGroup td {
    padding-top: 45px !important;
    background-color: transparent !important;
}

.scrollableTable table {
    min-width: 520px;
}

.scrollableTable.wide table {
    min-width: 820px;
}

.scrollableTable.xwide table {
    min-width: 1020px;
}


tr.marked td {
    animation: marked 5s linear;
}

@keyframes marked {
    from {
        background-color: yellow;
    }

    to {
        background-color: unset;
    }
}

a[data-command="drag_handle"] {
    cursor: grab !important;
}

a[data-command="drag_handle"]:active {
    cursor: grabbing !important;
}

td span.groupHeading {
    position: absolute;
    margin-top: -25px;
    margin-left: -1px;
    font-weight: bold;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.table-values.highlight>tbody>tr:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
}

.table-values.highlight>tbody>tr:nth-child(2n):hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

input.array {
    display: none;
}

.inputClear,
.selectClear,
.inputEdit {
    display: block !important;
    position: absolute !important;
    right: 20px !important;
    top: 7px !important;
    margin: auto !important;
}

.validateOnlyError.valid {
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: none !important;
}

.combobox {
    position: relative;
}

.comboboxDropdownTrigger {
    display: block !important;
    position: absolute !important;
    right: 0px !important;
    top: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.combobox .dropdown-content {
    left: unset !important;
    width: unset !important;
    min-width: 100% !important;
}


.m .dropdown-content li.divider {
    min-height: 45px;
    height: unset;
    padding: 0px !important;
}

.multiple-select-dropdown.dropdown-content li span,
.multiple-select-dropdown.dropdown-content li span label {
    pointer-events: none;
}

.CodeMirror {
    width: 100%;
    width: calc(100% - 25px);
    height: unset !important;
    position: absolute;
}

.collapsible-body .row:not(:first-child) p.sub-title {
    padding-top: 15px;
}

h6.heading {
    background: rgba(0, 0, 0, 0.02);
    margin-left: -35px;
    padding: 5px 0 7px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px;
}

.headingIcon {
    width: 48px;
    height: 48px;
    float: right;
}

.tabs {
    scrollbar-width: 2px;
}

.tabs::-webkit-scrollbar {
    height: 2px;
}

.float-left {
    float: left !important;
    margin-left: 9px !important;
}

span.small {
    font-size: xx-small;
}


#dialogTileEditorDemoBackground {
    width: 100%; 
    max-width: 600px; 
    height: 80%;	
    margin: 10px; 
    padding: 20px; 
    background: url(demotile_wallpaper.png); 
    background-size: contain; 
    overflow: auto;
}

#dialogTileEditorDemoTile {
    position: relative; 
    width: 110px; 
    height: 110px; 
    background:rgba(255, 255, 255, 0.8); 
    transform-origin: top left;
    transition: all 0.5s;
}

.dialogTileEditorDemoStack{
    position: absolute; 
    border: 1px solid grey;
    overflow: hidden;
    white-space: nowrap;
}
.dialogTileEditorDemoStack:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1;
}
.dialogTileEditorDemoStack.selected{
    box-shadow: 0px 0px 10px 0px black;
    overflow: visible;
    z-index: 10000;
    cursor: grab;
    text-shadow: 0px 0px 1px white;
}
.dialogTileEditorDemoStack.selected::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1); 
    z-index: -1;
}
.dialogTileEditorDemoStack.selected:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2); 
    z-index: -1;
}
.dialogTileEditorDemoStack.selected.dragActive{
    cursor: grabbing;
}
.dialogTileEditorDemoStack.selected.dragActive::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3); 
    box-shadow: 0px 0px 10px 0px rgba(0, 150, 255, 0.5);
    z-index: -1;
}

.dialogTileEditorDemoStack span.name{
    display: none;
    white-space: nowrap;
}
.dialogTileEditorDemoStack.selected span.name{
    display: inline-block;
}

.dialogTileEditorDemoStack img.resizeHandle{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    max-width: 75%;
    max-height: 75%;
    opacity: 0;
}
.dialogTileEditorDemoStack.selected img.resizeHandle{
    opacity: 0.4;
}
.dialogTileEditorDemoStack.selected img.resizeHandle:hover{
    opacity: 1;
    cursor: nwse-resize;
}

.dialogTileEditorDemoStack.selected.anchorLeft{
    border-left: dotted 3px black;
}
.dialogTileEditorDemoStack.selected.anchorRight{
    border-right: dotted 3px black;
}
.dialogTileEditorDemoStack.selected.anchorTop{
    border-top: dotted 3px black;
}
.dialogTileEditorDemoStack.selected.anchorBottom{
    border-bottom: dotted 3px black;
}

#dialogTileEditorStackList li.selected{
    background:rgba(0, 150, 255, 0.5);
}