body {
    background-color: #661dd3 !important;
    padding: 0 24px;
    color: white; /* Change my color to yellow */
  }
  .main{
    position:relative;
    width: 80%;
    height: 500px;
    background: rgba(255, 102, 0, 0.884);
    padding: 10px;
    margin: 0px;
  }


  .tileSize{
    width: 100px;
    height: 100px;
    margin: 0px 10px 10px 0px;
    padding: 0px;
    background-color: beige;
    position: relative;
    transition: all 0.4s;
    border-radius: 15px;
  }
  .tile.enlarged, .tile.enlarged .tileSize{
    width: 300px;
  }
  .tile{
    background-color: #28d93152;
    transition: all 0s;
  }
  .extraContainer{
    background-color: rgba(255, 0, 0, 0.192);
    left: 0; top: 0;
    width: 100%; height: 100%;
    margin: 0 0 0 0;
    overflow:visible;
  }
  .intraContainer{
    background-color: rgb(255 255 255 / 80%);
    left: 0; top: 0;
    width: 100%; height: 100%;
    margin: 0 0 0 0;
    overflow:hidden;
  }
  .pressureIndicator{
    box-shadow: 0 0 0 10px rgba(124, 0, 118, 0.226);
  }
  
  .element{
    position: absolute;
    width: 80px; height: 20px;
    z-index:2;
    opacity: 0.5;
  }
  .one{
    top: -10px; left: -10px; 
    background-color: red;
  }
  .two{
    left: 25px; top: 20px;
    background-color: green;
  }
  .three{
    left: 50px; top: 50px;
    background-color: blue;
  }
  .four{
    left: 90px; top: 80px;
    background-color: yellow;
  }